/*
    Single-line snackbar height: 48dp
    Multi-line snackbar height: 80dp
    Text: Roboto Regular 14sp
    Action button: Roboto Medium 14sp, all-caps text
    Default background fill: #323232 100%
*/

@font-face {
    font-family: 'Roboto-Regular';
    src:url('../font/Roboto-Regular.ttf');
}

.snackbar{
    position: fixed;
    bottom: 0;
    font-family: 'Roboto-Regular', Arial, sans-serif;
    padding: 14px 23px;
    background: #323232;
    color: white;
    font-size: 14px;
    width: 288px;
    left: 50%;
    margin-left: calc(-288px/2);
    align-items: center;
    display: flex;
    transform: translateY(100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.28);
}

.snackbar.snackbar-md{
    width: 360px;
    left: 50%;
    margin-left: calc(-360px/2);
}

.snackbar.snackbar-lg{
    width: 558px;
    left: 50%;
    margin-left: calc(-558px/2);
}

.snackbar p{
    display: inline-block;
    width: 73%;
    margin: 0;
}

.snackbar.show{
    animation: show 400ms cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

.snackbar.hide{
    animation: hide 300ms cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

.snackbar button{
    position: absolute;
    right: 24px;
    background: none;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFEB3B;
    outline: none;
    cursor: pointer;
}

.snackbar button.primary{
    color: #4CAF50;
}

.snackbar button.danger{
    color: #F44336;
}

@-webkit-keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@-o-keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@-moz-keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@-o-keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@-moz-keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 480px){
    .snackbar, 
    .snackbar.snackbar-lg,
    .snackbar.snackbar-md{
        width: 100%;
        left: auto;
        margin-left: auto;
        border-radius: 0;
    }
}